<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
<div class="container">
  {% include nav.html %}
  <hr class="stylish"/>
  {{ content }}
</div>
<footer>
  <hr class="stylish"/>
  {% include nav.html %}
<!--
  <div>
    Theme: <a href="https://github.com/abhn/Elementary">Elementary</a>
    <br/>
    <a>{{ site.name }}</a> &copy; {{ site.time | date: '%Y' }}
  </div>
  -->
</footer>
{% if site.javascript_enabled %}
  <script src="/assets/main.js"></script>
{% endif %} 

<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
            <span id="busuanzi_container_site_pv">本站总访问量<span id="busuanzi_value_site_pv"></span>次</span>
</body>
</html>

